.big-button {
  @include big-button;
  background: $blue-color;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0px;
  &:hover,
  &:focus {
    color: $blue-color;
    background: $white-color;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--order,
  &--send {
    padding: 10px 42px;
  }

  &--newsletter {
    height: 50px;
    margin-left: -10px;
    &:hover > .icon-plane {
      fill: $blue-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .big-button--newsletter {
    margin-bottom: 60px;
  }
}
